<a href="https://colab.research.google.com/github/Ruben-RL242/edd_1310_2021/blob/master/1octubre_1310.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Intro Python 3
###Variables
Tipo dínamico

`escuela="FES Aragón"`

In [67]:
escuela="FES Aragón"
print(escuela)
print("---------")
edad=13
estatura=1.67
fumador=True
frase="""
Esta es
una
frase de 
multiples lineas 
y tambien es 
un tipo de dato
"""
print(frase)
nombre='jose'
nombre_completo="jose sosa cardenas"

FES Aragón
---------

Esta es
una
frase de
multiples lineas
y tambien es
un tipo de dato

#Print
con comas ,
con signo +
con format ()
con el operador f""

In [68]:
# el , sirve para imprimir mas de una variable y pone un espacio
print(nombre,edad)

jose 13

In [69]:
# + para concatenar pero solo cadenas se tiene que convertir int en str
print(nombre+str(edad))
print(nombre + nombre_completo)

jose13
josejose sosa cardenas

In [70]:
#con formato -> Su nombre es Jose y su edad es de 13 años.
print("su nombre es",nombre,"y su edad es de",edad,"años.")
print("su nombre es {0} y su edad es de {1} años.".format(nombre,edad) )
print("su nombre es {1} y su edad es de {0} años.".format(nombre,edad) )

su nombre es jose y su edad es de 13 años.
su nombre es jose y su edad es de 13 años.
su nombre es 13 y su edad es de jose años.

In [71]:
#con formato con el operador f""
print(f"Su nombre es {nombre} y su edad es de {edad} años.")

Su nombre es jose y su edad es de 13 años.

#caracter especial

\n salto de linea

\t tabulador

\a beep

\" imprimir comilla doble

\' imprimir comilla simple

In [72]:
"""
Esto es 
un comentario
de múltiple línea
tan tan 
"""
print(f"\tMi nombre es\n\t\t{nombre}")

	Mi nombre es
		jose

#Ayuda de tipos de dato en Phyton

dir()

help()

In [ ]:
#str, int, float, bool, list, dict, set......
help(str)

In [77]:
print(nombre_completo.capitalize())
print(nombre_completo.upper(), end="-----")
print(nombre_completo.title())

Jose sosa cardenas
JOSE SOSA CARDENAS-----Jose Sosa Cardenas

In [ ]:
help(print)

#clase String

Es manejada como un arreglo (c o java) o lista (phyton)

In [84]:
telefono="Huawei mate 30 pro"
print(telefono[5])

i

#Slicing (rebanado)

[ini:stop:incremento]
stop no se incluye, termina en el valor anterior al stop.
El inicio y el incremento son opcionales.

In [88]:
print(telefono[7:11:1])
#El inicio y el incremento son opcionales
print(telefono[:11:])
#el valor por defecto de stop es len(str)
print(telefono[::])
#incremento negativo
print(telefono[::-1])
print(telefono[-3::1])

mate
Huawei mate
Huawei mate 30 pro
orp 03 etam iewauH
pro

# Métodos de string (str)
existe métodos muy útiles en esta clase

In [114]:
facultad="     facultad de estudios superiores aragon \n     "
print(facultad.count("z"))#cuenta el numero de elemento que queramos
print(facultad.find("s"))#busca la posicion del elemento que queramos
print(facultad.strip())#quita los espacios en blanco y saltos de linea
tamaño=len(facultad)
print(f"tamaño de la cadena es {tamaño} caracteres")
print(len(facultad))#longitud de string
print(facultad)
print(facultad.strip().split(" "))#hace un corte el el caracter seleccionado

print("------------")
#copia de cadenas
otra_cadena=facultad
print(otra_cadena)
facultad="FES Aragón"
print(facultad)
print(otra_cadena)

#copiar listas
colores=["rojo","verde"]
otra=colores.copy()
print(colores)
print(otra)
otra.append("rosa")
print(colores)
print(otra)

0
18
facultad de estudios superiores aragon
tamaño de la cadena es 50 caracteres
50
     facultad de estudios superiores aragon

['facultad', 'de', 'estudios', 'superiores', 'aragon']
------------
     facultad de estudios superiores aragon

FES Aragón
     facultad de estudios superiores aragon

['rojo', 'verde']
['rojo', 'verde']
['rojo', 'verde']
['rojo', 'verde', 'rosa']