<a href="https://colab.research.google.com/github/Ruben-RL242/edd_1310_2021/blob/master/6octubre.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#String continuación

numeros_txt="    1, 2, 3, 4   , 5   , 35   ,  15  ,  12"
print(numeros_txt)
numeros_txt=numeros_txt.lstrip().split(',')
print(numeros_txt)

for j in range(len(numeros_txt)):
  numeros_txt[j]=int(numeros_txt[j].strip())

#for en c for(int j=0;j<8;j++){
#   asdasd   
#}

print(numeros_txt)

#funcion range

#range(inicio,stop,incremento)
print(range(0,10,1))
rango=range(1,10,2)

for x in rango:
  print(x)

rango=range(10)
for x in rango:
  print(x)

    1, 2, 3, 4   , 5   , 35   ,  15  ,  12
['1', ' 2', ' 3', ' 4   ', ' 5   ', ' 35   ', '  15  ', '  12']
[1, 2, 3, 4, 5, 35, 15, 12]
range(0, 10)
1
3
5
7
9
0
1
2
3
4
5
6
7
8
9

#listas
- mutables
- declaran con []
- selector [ int ]
- pueden se de cualquier tipo de variable

#tuplas
- NO mutables
- declaran con ()
- slectors [ int ]

#diccionarios
- son mutables
- son conjunto de pares llaves:valor
- Equivalentes a los objetos JSON de JS

#conjuntos
- representacion de la teoria de conjuntos

In [3]:
#listas (equivalentes a arreglos en otros lenguajes de programacion)
frutas=["Pera" , "Manzana" , "fresa" , "Kiwi" , "Naranka"]
print(frutas)
cosas=["Cuaderno" , 2 , 3.1416 , True , False , ["Rojo" , "Azul"] ]
print(cosas)
#mutabla cambiamos cualquier posicion
frutas[2]="Fresa"   #frutas[2]=frutas.capitaliza()
print(frutas)
#agregar a lista
frutas.append("Aguacate")
print(frutas)
frutas.insert(2,"sandia")
print(frutas)

#concatenar listas
fecha=["06" , "10" , "2020"] #06/10/2020
print(fecha)
fecha_str="/".join(fecha)
print(fecha_str)

['Pera', 'Manzana', 'fresa', 'Kiwi', 'Naranka']
['Cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul']]
['Pera', 'Manzana', 'Fresa', 'Kiwi', 'Naranka']
['Pera', 'Manzana', 'Fresa', 'Kiwi', 'Naranka', 'Aguacate']
['Pera', 'Manzana', 'sandia', 'Fresa', 'Kiwi', 'Naranka', 'Aguacate']
['06', '10', '2020']
06/10/2020

In [4]:
#eliminar elementos
cosas=["Cuaderno" , 2 , 3.1416 , True , False , ["Rojo" , "Azul"] ]
print(cosas)
cosas.append("Libro")
cosas.append("Lapiz")
print(cosas)
algo=cosas.pop()
print(cosas)
print(algo)

algo=cosas.pop(2)
print(cosas)
print(algo)
#remove
cosas.remove(2)
print(cosas)
#vaciar una lista
#cosas.clear()
print(cosas)
frutas[4]="Naranja"
#ordenar 
print(frutas)
frutas.sort()
print(frutas)

['Cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul']]
['Cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul'], 'Libro', 'Lapiz']
['Cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul'], 'Libro']
Lapiz
['Cuaderno', 2, True, False, ['Rojo', 'Azul'], 'Libro']
3.1416
['Cuaderno', True, False, ['Rojo', 'Azul'], 'Libro']
['Cuaderno', True, False, ['Rojo', 'Azul'], 'Libro']
['Pera', 'Manzana', 'sandia', 'Fresa', 'Naranja', 'Naranka', 'Aguacate']
['Aguacate', 'Fresa', 'Manzana', 'Naranja', 'Naranka', 'Pera', 'sandia']

In [16]:
#Slicing

cosas=["Cuaderno" , 2 , 3.1416 , True , False , ["Rojo" , "Azul"]]
print(cosas[3:5:1])
print(cosas)
print(cosas[0][3:5:1])

numeros=[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
print(numeros[7:12:1])

#sustituir rebanadas
numeros[8:13:]=[-2,-2]
print(numeros)

#preguntar por existencia

print(-28 in numeros)

[True, False]
['Cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul']]
de
[7, 8, 9, 10, 11]
[0, 1, 2, 3, 4, 5, 6, 7, -2, -2, 13, 14, 15]
False

#listas multi dimensión

lista dentro de listas

In [36]:
computadoras=["HP" , "Mac Book Pro 17" , "Mate book" , "Lenovo legion"]
oss=["Windows 10" , "Linux" , "Android" , "iOS" ]
computo=[computadoras, oss]
print(computo[0])
print(computo[1])
print(computo[0][2])
print(computo[0][2][0:5])
print(computo[0][3][5::-1])
print(computo[0][3][-8::-1])
print("Linux" in computo[1])
dbms=[["Mysql" , "Open Source" , False] , ["MS SQL Server" , "de paga" , True] ]
computo.append(dbms)
print(computo)
print(computo[2][0][0])
print(computo[2][1][1])

['HP', 'Mac Book Pro 17', 'Mate book', 'Lenovo legion']
['Windows 10', 'Linux', 'Android', 'iOS']
Mate book
Mate
ovoneL
ovoneL
True
[['HP', 'Mac Book Pro 17', 'Mate book', 'Lenovo legion'], ['Windows 10', 'Linux', 'Android', 'iOS'], [['Mysql', 'Open Source', False], ['MS SQL Server', 'de paga', True]]]
Mysql
de paga